body>.main>.workspace .table>.columns>.column.full {
  font-size: 110%;
  opacity: .5;
  padding-bottom: .3em;
  width: 100%;
}

body>.main>.workspace>div .table>.columns {
  background-image: linear-gradient(180deg, #fff3, transparent);
  border-radius: 18px 18px 0 0;
  padding-bottom: .3em;
  padding-top: .3em;
}

body>.main>.workspace>div .table>.columns>div {
  float: left;
  line-height: 150%;
  font-weight: bolder;
  text-align: center;
}

body>.main>.workspace>div .table>.columns>div[sort-key] {
  cursor: pointer;
}

body>.main>.workspace>div .table>.columns>div[sort-key]>.sort-icon {
  background-image: url(./images/button-sprites.png);
  background-position: 0;
  background-repeat: no-repeat;
  float: left;
  margin-right: -12px;
  width: 12px;
}

body>.main>.workspace>div .table>.columns>div[sort-order=sort-asc]>.sort-icon {
  background-position: -487px -228px;
}

body>.main>.workspace>div .table>.columns>div[sort-order=sort-desc]>.sort-icon {
  background-position: -557px -228px;
}