body>.main>.workspace.hide-timestamps .history [sort-key="mtime"],
body>.main>.workspace.hide-timestamps .history [sort-key="ctime"],
body>.main>.workspace.hide-timestamps .history [sort-key="dtime"],
body>.main>.workspace.hide-uuid [sort-key="id"],
body>.main>.workspace.hide-deleted [dtime] {
  display: none;
}

body>.main>.footer>.cookie-bar {
  bottom: 0;
  border-radius: 0 4em 0 0;
  float: left;
  left: 0;
  padding-bottom: .5em;
  margin-top: 2em;
  position: fixed;
  background-image: radial-gradient(ellipse at bottom left, var(--background-color) 70%, transparent);
  width: 9em;
}

body>.main>.footer>.cookie-bar>.list::before {
  content: 'Hide';
  font-weight: bolder;
  line-height: 2em;
  width: 100%;
}

body>.main>.footer>.cookie-bar>.list {
  list-style-type: none;
  margin-left: -1em;
  margin-top: .5em;
}

body>.main>.footer>.cookie-bar>.list>li>input {
  clear: left;
  float: left;
  margin-bottom: .5em;
}

body>.main>.footer>.cookie-bar>.list>li>label {
  clear: right;
  cursor: pointer;
  display: block;
  float: left;
  margin-left: .25em;
  width: 4em;
}