body>.main>.workspace>.eventtype>.table {
  margin-left: 10%;
  width: 70%;
}

body>.main>.workspace>.eventtype>.table>.columns>div,
body>.main>.workspace>.eventtype>.table>.rows>.row>input,
body>.main>.workspace>.eventtype>.table>.rows>.row>select,
body>.main>.workspace>.eventtype>.table>.rows>.row>div {
  margin-left: 2%;
  width: 31%;
}

body>.main>.workspace>.eventtype>.table>.rows>.row>.severity,
body>.main>.workspace>.eventtype>.table>.rows>.row>.stage {
  text-align: center;
}