body>.main>.workspace .table.events {
  float: right;
  margin-top: 1em;
  width: 100%;
}

body>.main>.workspace .table.events>.photos>.rows,
body>.main>.workspace .table.events>.notes>.rows {
  height: 11.5em;
}

body>.main>.workspace .table.events>.rows {
  height: 15em;
}

body>.main>.workspace .table.events.photoing>.rows,
body>.main>.workspace .table.events.noting>.rows {
  height: 1.5em;
}

body>.main>.workspace .table.events>.rows>.row.selected {
  display: block !important;
}

body>.main>.workspace .table.events.photoing>.rows>.row,
body>.main>.workspace .table.events.noting>.rows>.row {
  display: none;
}

body>.main>.workspace .table.events>.columns>div,
body>.main>.workspace .table.events>.rows>.row>div,
body>.main>.workspace .table.events>.rows>.row>input,
body>.main>.workspace .table.events>.rows>.row>select {
  padding-left: 1%;
  text-align: center;
  width: 14%;
}

body>.main>.workspace .table.events>.columns>div.temperature,
body>.main>.workspace .table.events>.columns>div.humidity,
body>.main>.workspace .table.events>.rows>.row>.temperature,
body>.main>.workspace .table.events>.rows>.row>.humidity {
  width: 10%;
}

body>.main>.workspace .table.events>.columns>div.eventtype,
body>.main>.workspace .table.events>.rows>.row>.eventtype {
  overflow: hidden;
  width: 45%;
}