body>.main>.workspace>.generation>.table.generation>.notes {
  height: 12.5em;
}

body>.main>.workspace>.generation>.table.generation>.rows {
  height: 12.5em;
}

body>.main>.workspace>.generation>.table.generation>.columns>.column.full {
  cursor: grab;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"] {
  overflow-x: hidden;
  width: 49%;
}

body>.main>.workspace>.generation>.table.generation.noting>.rows.main {
  display: none;
}

body>.main>.workspace>.generation>.table.generation.selecting>.rows[name="generation"]>.row>.lineage {
  text-align: center;
  width: 100%;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources {
  border-radius: 8px;
  border-color: #b099b699;
  border-style: groove;
  border-width: 0 0 0 3px;
  padding-left: .5em;
  width: 49%;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source {
  padding-top: .5em;
  width: 100%;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source>select {
  /* float: left; */
  text-overflow: ellipsis;
  width: initial;
  margin-right: 0.5em;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source>select.break {
  clear: right;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source>select.strains {
  width: 80%;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source>.buttonbox {
  float: left;
  height: 4em;
  opacity: .4;
  width: 2em;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source:hover>.buttonbox {
  opacity: 1;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.source>.buttonbox>.button {
  margin-bottom: .5em;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"] {
  padding-left: .5em;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"] select {
  margin-right: .5em;
  padding-right: 2px;
  padding-top: 3.1px;
  text-overflow: ellipsis;
  width: 80%;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"]>.field>.label,
body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].sources>div.source>div.label {
  width: 5em;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].sources>div.source div.caption {
  float: left;
  padding-right: .2em;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].sources>div.source>select {
  float: left;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].sources>div.source>.button {
  float: right;
  margin-right: .5em;
  position: relative;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].editing>.mtime>.static.date,
body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].editing>.ctime>.static.date,
body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].adding>.mtime>.static.date,
body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].adding>.ctime>.static.date {
  color: grey;
  cursor: not-allowed;
  display: initial !important;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"] select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].adding select,
body>.main>.workspace>.generation>.table.generation>.rows[name="editor"].editing select:not(.progeny) {
  appearance: initial;
  -webkit-appearance: auto;
  -webkit-appearance: auto;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>div.source.removable {
  display: block;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.add-source {
  font-size: larger;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources>.add-source::after {
  content: 'add source';
  font-size: smaller;
}

body>.main>.workspace>.generation>.table.generation>.rows.sources[source-type="spore"]>div:nth-child(4),
body>.main>.workspace>.generation>.table.generation>.rows.sources[source-type="clone"]>.add-source {
  display: none;
}

body>.main>.workspace>.generation>.table.generation>.rows[name="generation"],
body>.main>.workspace>.generation>.table.generation.selecting>.rows.main {
  display: none;
}

body>.main>.workspace>.generation>.table.generation.selecting>.rows[name="generation"] {
  display: block;
}

body>.main>.workspace>.generation>.table.events>.columns>.column.full::before {
  content: "Generation ";
}

.source.adding>[name="origin"],
.source.adding>[name="type"] {
  display: block !important;
}

/*
.source>[name="origin"] {
  display: none;
} 
 */

.source[source-origin="event"]>[name="type"] {
  display: none;
}

.source[source-origin="event"]>[name="type"],
.source[source-origin="event"]>.strains,
.source[source-origin="strain"]>[name="progenitor"],
.source[source-origin="strain"]>[name="lcs"] {
  display: none;
}

.progeny {
  color: aliceblue;
  cursor: pointer;
  font-style: italic;
  font-size: larger;
}

.rows[name="editor"].adding .no-edit,
.rows[name="editor"].editing .no-edit {
  display: none;
}

.progeny>option[gid] {
  display: none;
}

.rows.link>.label {
  cursor: pointer;
}

.rows.link:hover>.label::after {
  color: #8db1d0;
  content: '>>';
  padding-left: .5em;
  font-size: smaller;
  line-height: 1em;
  margin-top: .25em;
  /* background-image: radial-gradient(red, transparent);
  border-radius: 1em;
  border-style: none; */
  width: 2em;
}

.sources>.add-ctl {
  float: left;
  width: 100%
}

.from {
  line-height: 1.3em;
  margin-left: .5em;
  margin-right: .5em;
}