body>div.imageview {
  background-color: #00bbdd44;
  display: none;
  /* height: 100%; */
  left: 0;
  /* max-height: 90%; */
  overflow-y: auto;
  padding: 3em;
  position: fixed;
  text-align: center;
  top: 0;
  /* width: -webkit-fill-available; */
  z-index: 1;
  right: 0;
  bottom: 0px;
  /* display: block; */
}

body>div.imageview>.viewport {
  width: 90%;
  width: -webkit-fill-available;
}

body>div.imageview.active {
  display: block;
}