/* .uuid {
  display: none !important;
} */

.button {
  background-image: url(images/button-sprites.png);
  background-repeat: no-repeat;
  border-radius: .75em;
  border-style: none;
  cursor: not-allowed;
  height: 1.3em;
  width: 1.3em;
}

.template {
  display: none;
}

.button {
  background-image: url(images/button-sprites.png);
  background-repeat: no-repeat;
  border-radius: .75em;
  border-style: none;
  cursor: pointer;
  height: 1.3em;
  width: 1.3em;
}

.template {
  display: none;
}

.selected {
  background-image: linear-gradient(0, transparent, #bbb3, #bbb3, transparent) !important;
  border-radius: 25px;
  cursor: default !important;
  text-decoration: none !important;
}

.hover:hover {
  background-image: linear-gradient(0, transparent, #aaa2, transparent);
  border-radius: 25px;
  cursor: pointer;
}

.add-ctl {
  border-radius: 25px;
  color: cyan;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.add-ctl:hover {
  background-color: #bbb3;
}

.add-ctl:after {
  color: white;
  padding-left: .5em;
}

html {
  background-color: #003050;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  min-width: 80em;
  width: 60%;
}

div {
  position: relative;
}

a {
  color: aliceblue;
}

select,
input {
  border: none;
  outline: none;
  font-family: none;
}

select:focus,
input:focus {
  background-image: linear-gradient(0, transparent, #aaa2, transparent);
  border-radius: 25px;
}

body>.background-image {
  background-image: url(./images/background/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: .1;
  position: absolute;
  top: 0;
  width: 100%;
}

body>.powered-by {
  bottom: 0;
  padding-right: 2em;
  position: fixed;
  right: 0;
}

body>.powered-by>div {
  display: inline-block;
  font-style: italic;
  /* line-height: 2em; */
}

body>.powered-by>ul {
  display: inline-block;
  vertical-align: middle;
}

body>.powered-by>ul .long-text {
  display: none;
}

body>.powered-by:hover>ul .long-text {
  display: block;
}

body>.powered-by:hover>ul .short-text {
  display: none;
}

body>.main>div {
  float: left;
  width: 100%;
}

body>.main>.header {
  height: max-content;
  border-bottom-color: cornflowerblue;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
}

body>.main>.header>div,
body>.main>.header::before {
  float: left;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 14%;
}

body>.main>.header::before {
  text-align: center;
  color: #fff5;
}

body>.main>.header[menu-row="main"]::before {
  content: 'Main';
}

body>.main>.header[menu-row="ancillary"]::before {
  content: 'Aux';
}

body>.main>.header[menu-row="reporting"]::before {
  content: 'Reports';
}

body>.main>.header[menu-row="reporting"]>.menuitem.reporting,
body>.main>.header[menu-row="ancillary"]>.menuitem.ancillary,
body>.main>.header[menu-row="main"]>.menuitem.main {
  display: block;
}

body>.main>.header>div {
  border-radius: 15px;
  text-align: center;
}

body>.main>.header>.menuitem {
  display: none;
  width: 14%;
}

body>.main>.header>.menu-scroll {
  /* background-color: #33333577; */
  background-image: radial-gradient(#6495edaa, transparent 90%);
  color: aliceblue;
  float: right;
  line-height: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
  width: 1em;
}

body>.main>.header>.menu-scroll>div[dir] {
  cursor: pointer;
}

body>.main>.workspace {
  font-size: larger;
  line-height: 150%;
  margin-bottom: 4em;
}

body>.main>.workspace>div {
  display: none;
  float: left;
  margin-top: 2em;
  width: 100%;
}

body>.main>.workspace>.active {
  display: block;
}

body>.main>.workspace .table.noting.photoing>.photos {
  border-left-style: ridge;
  border-left-width: 2%;
  float: right;
  width: 48%;
}

body>.main>.workspace .table.noting.photoing>.notes {
  width: 50%;
}

.sidebar {
  display: flex;
  display: none;
  width: 100%;
  margin-left: -100%;
  background-color: #235c;
}

.sidebar>.content {
  width: 70%;
  margin-left: 30%;
  background-color: #444;
}

option[dtime],
div[dtime] {
  color: #f0f8ff66;
}

option[dtime] {
  display: none;
}

.type.static::first-letter,
/* select.types::first-letter, */
select.types>option::first-letter {
  text-transform: uppercase;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0, transparent, #bbb3, #bbb3, #bbb3, transparent);
  border-radius: 10px;
}