body>.main>.workspace>.ingredient>.table {
  margin-left: 10%;
  width: 50%;
}

body>.main>.workspace>.ingredient>.table>.columns>div,
body>.main>.workspace>.ingredient>.table>.rows>.row>div {
  float: left;
  line-height: 150%;
  margin-left: 2%;
  width: 98%;
}