body>.main>.workspace>.lifecycle>.table.lifecycle.noting>.rows.lc {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.notes {
  clear: none;
  float: right;
  height: 17em;
  margin-left: -5px;
  width: 69%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows {
  height: 18em;
  overflow-x: hidden;
  overflow-y: auto;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.lc {
  float: right;
  margin-left: -5px;
  width: 70%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx {
  border-radius: 8px;
  border-color: #b099b699;
  border-style: groove;
  border-width: 0 3px 0 0;
  float: left;
  width: 29%;
}

body>.main>.workspace>.lifecycle>.rows.ndx>.row.new>.ctime::before {
  content: '*'
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx>.row>div {
  width: 50%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle {
  width: 100%;
}


body>.main>.workspace>.lifecycle>.table.lifecycle>.rows>div>.label {
  padding-left: 1%;
  width: 20%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.add>.row.no-add {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.events>.columns>.column.full::before {
  content: "Lifecycle ";
}