body>.main>.workspace>.lifecycle>.table.lifecycle.noting>.rows.lc {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.notes {
  clear: none;
  float: right;
  height: 18em;
  margin-left: -5px;
  width: 69%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows {
  height: 19em;
  overflow-x: hidden;
  overflow-y: auto;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.lc {
  border-radius: 8px;
  border-color: #b099b699;
  border-style: groove;
  border-width: 0 0 0 3px;
  float: right;
  margin-left: -5px;
  width: 70%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx {
  float: left;
  width: 29.5%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx>.row {
  border-radius: 0 15px 15px 0;
}

body>.main>.workspace>.lifecycle>.rows.ndx>.field.new>.ctime::before {
  content: '*'
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx>.row>div {
  padding-left: 5%;
  width: 50%;
  text-overflow: ellipsis;
}

body>.main>.workspace>.lifecycle>.table.lifecycle {
  width: 100%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows>.row>.field>label {
  float:left;
  padding-left: 1%;
  width: 20%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows>.row>.field>.dry-weight::after {
  content: '% dry weight';
  margin-left: .1em;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows>.row>.field>.per-kilo::after {
  content: '/kg';
  margin-left: .12em;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.add>.row>.field.no-add {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.events>.columns>.column.full::before {
  content: "Lifecycle ";
}

select.plating>option:not([type="plating"]),
select.liquid>option:not([type="liquid"]),
select.grain_substrate>option:not([type="grain"]),
select.bulk_substrate>option:not([type="bulk"]) {
  display: none;
}

.table.lifecycle input[type="number"] {
  width: 6em;
}