/**
 * everything here is shared by everyone who implements notes; if you need 
 * something else for your implementation, use more specific rules in your
 * client's stylesheet; a good example is: when to show the notes table
 */

/* body>.main>.workspace .table.noting>.notes { */
body>.main>.workspace .noting>.notes {
  background-image: radial-gradient(#8a2be222 25%, transparent);
  border-radius: 10px;
  padding-bottom: .5em;
  padding-top: .5em;
  display: block;
}

div.notes {
  clear: left;
  display: none;
  width: 100%;
}

div.notes>div.rows {
  border-style: solid;
  border-bottom-width: 0;
  border-left-width: .5em;
  border-right-width: .5em;
  border-top-width: 0;
  border-color: transparent;
  height: 8em;
  margin-bottom: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

div.notes>div.rows>div.row {
  height: 4.5em;
}

div.notes>div.rows>div.row>.note {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: inherit;
  float: left;
  font-size: inherit;
  height: 4.5em;
  width: 66.6%;
}

div.notes>div.rows>div.row.adding>.note,
div.notes>div.rows>div.row.editing>.note {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

div.notes>div.rows>div.row>div.mtime,
div.notes>div.rows>div.row>div.ctime {
  float: left;
}

div.notes>div.rows>div.row>div.mtime:before,
div.notes>div.rows>div.row>div.ctime:before {
  display: block;
  float: left;
  margin-left: 1em;
  width: 4.5em;
}

div.notes>div.rows>div.row>div.mtime:before {
  content: 'Modified: ';
}

div.notes>div.rows>div.row>div.ctime:before {
  content: 'Created: ';
}

div.notes>div.rows>div.row>div.note-ctl {
  clear: right;
  display: none;
  float: right;
  margin-left: .5em;
  margin-bottom: .5em;
}

div.notes>div.rows>div.row.selected>div.note-ctl {
  display: block
}

div.notes>div.add-note {
  color: cyan;
  cursor: pointer;
  margin-top: -1.5em;
  width: 100%;
}

div.notes>div.add-note:after {
  color: white;
  content: 'new note';
}
