/**
 * everything here is shared by everyone who implements photos; if you need 
 * something else for your implementation, use more specific rules in your
 * client's stylesheet; a good example is: when to show the photos table
 */

body>.main>.workspace .table.photoing>.photos {
  background-image: radial-gradient(#bebc1f22 25%, transparent);
  display: block;
  margin-bottom: .5em;
  margin-top: .5em;
}

div.photos {
  display: none;
  width: 100%;
}

div.photos>div.rows {
  border-style: solid;
  border-bottom-width: 0;
  border-left-width: .5em;
  border-right-width: .5em;
  border-top-width: 0;
  border-color: transparent;
  height: 8em;
  margin-bottom: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

div.photos.gallery>div.rows>div.row>div {
  border-color: transparent;
  border-style: solid;
  border-width: .5em;
  display: none;
}

.button.togle-notes {
  display: none;
}

div.photos.singleton>div.rows>div.row.selected {
  clear: both;
}

div.photos.singleton>div.rows>div.row:not(.selected) {
  display: none;
}

div.photos>div.rows>div.row.editing>div.mtime,
div.photos>div.rows>div.row.editing>div.ctime,
div.photos>div.rows>div.row.editing>img {
  display: none;
}

div.photos>div.rows>div.row>img {
  border-color: lightseagreen;
  /* border-color: lightskyblue; */
  border-style: outset;
  cursor: pointer;
  float: left;
  height: 150px;
  margin-right: .5em;
  object-fit: cover;
  width: 150px;
}

div.photos.singleton>div.rows>div.row>img {
  cursor: zoom-in;
}

div.photos>div.rows>div.row>input.photo {
  float: left;
}

div.photos>div.rows>div.row:not(.editing)>div.paste-file,
div.photos>div.rows>div.row:not(.editing)>input.photo {
  display: none;
}

div.photos>div.rows>div.row>div.photo-ctl {
  clear: right;
  float: right;
  margin-left: .5em;
  margin-bottom: .5em;
}

div.photos>div.rows>div.row>div.mtime,
div.photos>div.rows>div.row>div.ctime {
  float: left;
  margin-left: 1em;
}

div.photos>div.rows>div.row>div.mtime:before {
  content: 'Modified: ';
}

div.photos>div.rows>div.row>div.ctime:before {
  content: 'Created: ';
}

div.photos>div.add-photo {
  margin-top: -1.5em;
  width: 100%;
}

div.photos.singleton>div.add-photo {
  display: none;
}

div.photos>div.add-photo:after {
  content: 'new photo';
}

div.photos>div.rows>div.row>div.notes {
  background: none;
  float: left;
  margin-top: .5em;
}

div.photos>div.rows>div.row>div.notes>.rows {
  height: auto;
}

div.photos>div.rows>div.row>div.notes>div.rows>div.row>.note {
  width: 60%;
}
