body>.main>.workspace>.stage>.table {
  margin-left: 10%;
  width: 50%;
}

body>.main>.workspace>.stage>.table>div {
  float: left;
  width: 100%;
}

body>.main>.workspace>.stage>.table>.columns>div {
  float: left;
  line-height: 150%;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}


body>.main>.workspace>.stage>.table>.rows>.row {
  float: left;
  position: relative;
  width: 100%;
}

body>.main>.workspace>.stage>.table>.rows>.row>div {
  float: left;
  line-height: 150%;
  margin-left: 2%;
  width: 98%;
}