body>.main>.workspace>.strain>.table {
  width: 65%;
}

body>.main>.workspace .table.strain>.photos>.rows {
  /* background-color: #5f9ea033; */
  border-radius: 10px;
  height: 11.5em;
  /* margin-bottom: 0; */
  padding-right: 10px;
}

body>.main>.workspace>.strain>.table.strain>.rows {
  height: 15em;
}

body>.main>.workspace>.strain>.table.photoing>.rows[name="strain"] {
  height: 1.5em;
}

body>.main>.workspace>.strain>.table>.columns>div,
body>.main>.workspace>.strain>.table>.rows>.row>input,
body>.main>.workspace>.strain>.table>.rows>.row>select,
body>.main>.workspace>.strain>.table>.rows>.row>div {
  margin-left: 1%;
  width: 23%;
}

body>.main>.workspace>.strain>.table.photoing>.rows>.row {
  display: none;
}

body>.main>.workspace>.strain>.table>.rows>.row.selected {
  display: block !important;
}

body>.main>.workspace>.strain>.table.strainattribute {
  float: right;
  width: 34%;
}

body>.main>.workspace>.strain>.table.strainattribute>.columns>div,
body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>input,
body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>select,
body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>div {
  width: 48%;
}