body>.main>.workspace>.substrate>.table.substrate {
  width: 65%;
}

body>.main>.workspace>.substrate>.table.substrate>.columns>div,
body>.main>.workspace>.substrate>.table.substrate>.rows>.row>input,
body>.main>.workspace>.substrate>.table.substrate>.rows>.row>select,
body>.main>.workspace>.substrate>.table.substrate>.rows>.row>div {
  padding-left: 2%;
  width: 31%;
}

body>.main>.workspace>.substrate>.table.substrate>.rows>.row {
  display: none;
}

body>.main>.workspace>.substrate>.table.substrate.all>.rows>.row,
body>.main>.workspace>.substrate>.table.substrate.plating>.rows>.row.plating,
body>.main>.workspace>.substrate>.table.substrate.liquid>.rows>.row.liquid,
body>.main>.workspace>.substrate>.table.substrate.bulk>.rows>.row.bulk,
body>.main>.workspace>.substrate>.table.substrate.grain>.rows>.row.grain {
  display: revert;
}

body>.main>.workspace>.substrate>.table.substrate>.columns>.column.type>select.types {
  line-height: 150%;
  background-color: transparent;
  color: aliceblue;
  font-size: initial;
  margin-left: 1em;
  border-style: none;
  font-weight: bolder;
}

body>.main>.workspace>.substrate>.table.substrate>.columns>.column.type>select.types>option {
  background-color: black;
}

body>.main>.workspace>.substrate>.table.ingredients {
  float: right;
  width: 34%;
}

body>.main>.workspace>.substrate>.table.ingredients>.columns>div,
body>.main>.workspace>.substrate>.table.ingredients>.rows>.row>select,
body>.main>.workspace>.substrate>.table.ingredients>.rows>.row>div {
  border-style: none;
  margin-left: 2%;
  width: 98%;
}