div.row div.static {
  white-space: nowrap;
  text-overflow: ellipsis;
}

body>.main>.workspace>div .table {
  border-radius: 17px;
  background-color: #aaa1;
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>div {
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>.rows {
  max-height: 30em;
  overflow-y: auto;
}

body>.main>.workspace>div .table>.rows>.row,
body>.main>.workspace>div .table>.rows>.row>.field,
body>.main>.workspace>div .table>.rows>.field {
  border-radius: 15px;
  float: left;
  position: relative;
  width: 100%;
}

body>.main>.workspace>div .table>.rows div {
  float: left;
}

body>.main>.workspace>div .table>.rows>.row>.website,
body>.main>.workspace>div .table>.rows>.row>.date,
body>.main>.workspace>div .table>.rows>.field>.short-date {
  text-align: center;
}

body>.main>.workspace>div .table>.rows input,
body>.main>.workspace>div .table>.rows select {
  background-color: inherit;
  border-style: none;
  color: inherit;
  float: left;
  font-size: inherit;
  /* overflow: hidden; */
}

body>.main>.workspace>div .table>.rows>.field option,
body>.main>.workspace>div .table>.rows>.row option {
  background-color: #004050;
}