div.row div.static {
  white-space: nowrap;
  text-overflow: ellipsis;
}

body>.main>.workspace>div .table {
  border-radius: 17px;
  background-color: #aaa1;
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>div {
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>.rows {
  max-height: 30em;
  overflow-y: auto;
}

body>.main>.workspace>div .table>.rows>.row {
  border-radius: 0px;
  float: left;
  position: relative;
  width: 100%;
}

body>.main>.workspace>div .table>.rows>.row>input,
body>.main>.workspace>div .table>.rows>.row>select,
body>.main>.workspace>div .table>.rows>.row>div {
  float: left;
  overflow: hidden;
}

body>.main>.workspace>div .table>.rows>.row>.website,
body>.main>.workspace>div .table>.rows>.row>.static.date {
  text-align: center;
}

body>.main>.workspace>div .table>.rows>.row input,
body>.main>.workspace>div .table>.rows>.row select {
  background-color: inherit;
  border-style: none;
  color: inherit;
  font-size: inherit;
}

body>.main>.workspace>div .table>.rows>.row>.live {
  display: none;
}

body>.main>.workspace>div .table>.rows.editing>.row>.live,
body>.main>.workspace>div .table>.rows>.row.editing>.live {
  display: revert;
}

body>.main>.workspace>div .table>.rows.editing>.row>.static,
body>.main>.workspace>div .table>.rows>.row.editing>.static {
  display: none;
}

body>.main>.workspace>div .table>.rows.editing>.row>.static.const,
body>.main>.workspace>div .table>.rows>.row.editing>.static.const {
  display: block !important;
}

body>.main>.workspace>div .table>.rows>.row option {
  background-color: #004050;
}