html {
  background-color: var(--background-color);
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  min-width: 80em;
  width: 60%;
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(./images/background/image.avif); */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-origin: unset; */
  /* height: 100%; */
}

div {
  position: relative;
}

a {
  color: aliceblue;
}

select,
input {
  border: none;
  border-radius: 5px;
  color: inherit;
  font-family: none;
  line-height: 150%;
  outline: none;
  text-overflow: ellipsis;
}

select[disabled] {
  appearance: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[readonly] {
  cursor: pointer;
}

option[dtime],
div[dtime] {
  color: #f0f8ff66;
}

.hover-text {
  background-color: blanchedalmond;
  border-color: darkred;
  border-radius: 3px;
  border-width: 1px;
  color: crimson;
  font-size: smaller;
  line-height: 1em;
  margin-left: -50%;
  margin-top: -1.5em;
  padding: .2em;
  position: absolute;
  white-space: nowrap;
}

.adding>.buttonbox>.action>.icon>.hover-text::before,
.editing>.buttonbox>.action>.icon>.hover-text::before,
.adding>.action>.icon>.hover-text::before,
.editing>.action>.icon>.hover-text::before {
  content: 'cancel'
}

.buttonbox>.action>.icon>.hover-text::before {
  margin-top: 2em;
}

.buttonbox>.button>.icon>.hover-text::before {
  margin-left: 2em;
}

.action>.icon>.hover-text::before {
  content: 'edit'
}

.row>.action>.icon>.hover-text {
  left: -1.5em;
  top: 1.5em;
}

.adding>.buttonbox>.commit>.icon>.hover-text::before,
.editing>.buttonbox>.commit>.icon>.hover-text::before,
.adding>.commit>.icon>.hover-text::before,
.editing>.commit>.icon>.hover-text::before {
  content: 'save'
}

.commit>.icon>.hover-text::before {
  content: 'delete'
}

/* scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0, transparent, #bbb3, #bbb3, #bbb3, transparent);
  border-radius: 10px;
}