.table:is(.editing, .adding) .buttonbar {

  &>.button.icon.add,
  &>.button.icon.update,
  &>.button.icon.delete,
  &>.button.icon.refresh {
    cursor: not-allowed;
  }

  &>.button.icon.ok,
  &>.button.icon.cancel {
    cursor: pointer;
  }
}

.buttonbar {
  float: left;

  &>.button {
    cursor: pointer;
    text-align: center;
  }

  &>.button.icon {
    background-image: radial-gradient(ellipse at 50% -1em, #ffffff5c, transparent);
    border-radius: 1em 1em 1em 1em;
    float: right;
    /* height: 2em; */
    margin-bottom: 1em;
    line-height: 2em;
    margin-left: 2em;
    margin-top: 1em;
    width: 5em;
  }

  &>.button.icon.ok,
  &>.button.icon.cancel {
    cursor: not-allowed;
  }

  &>.button.icon.delete::before {
    content: 'delete';
  }

  &>.button.icon.add::before {
    content: 'add';
  }

  &>.button.icon.update::before {
    content: 'edit';
  }

  &>.button.icon.refresh::before {
    content: 'refresh';
  }

  &>.button.icon.ok::before {
    content: 'ok';
  }

  &>.button.icon.cancel::before {
    content: 'cancel';
  }

  /* &>.button.delete {
    background-image: radial-gradient(ellipse at 50% -1em, #ff00005c, transparent);
  }

  &>.button.add {
    background-image: radial-gradient(ellipse at 50% -1em, #e100e169, transparent);
  }

  &>.button.update {
    background-image: radial-gradient(ellipse at 50% -1em, #00dfdf70, transparent);
  }

  &>.button.refresh {
    background-image: radial-gradient(ellipse at 50% -1em, #e3e30078, transparent);
  }

  &>.button.ok {
    background-image: radial-gradient(ellipse at 50% -1em, #0f05, transparent);
  }

  &>.button.cancel {
    background-image: radial-gradient(ellipse at 50% -1em, #ff6c0087, transparent);
  } */
}