.table:is(.editing, .adding) .buttonbar>.button {

  &.notes,
  &.photos,
  &.add,
  &.edit,
  &.refresh {
    color: var(--color-disabled);
    cursor: not-allowed;
    font-weight: normal;
  }
}

.table.noting>.buttonbar>.button:not(.notes),
.table.photoing>.buttonbar>.button:not(.photos) {
  visibility: collapse;
}

.buttonbar {
  float: left;

  &>.button {
    cursor: pointer;
    text-align: center;

    &.text {
      background-image: radial-gradient(circle at left, #99ffff5c, transparent 60%), radial-gradient(circle at right, #99ffff5c, transparent 60%);
      background-image: radial-gradient(ellipse at center, transparent 40%, #99ffff5c);
      border-radius: 1em 1em 1em 1em;
      float: right;
      font-weight: bolder;
      line-height: 2em;
      margin-bottom: 1em;
      margin-left: 2em;
      margin-top: 1em;
      width: 5em;

      &.add::before {
        content: 'add';
      }

      &.cancel::before {
        content: 'cancel';
      }

      &.delete::before {
        content: 'delete';
      }

      &.edit::before {
        content: 'edit';
      }

      &.notes::before {
        content: 'notes';
      }

      &.photos::before {
        content: 'photos';
      }

      &.refresh::before {
        content: 'refresh';
      }

      &.save::before {
        content: 'save';
      }
    }

    &.icon {
      font-size: larger;

      &.add::before {
        color: cadetblue;
        content: var(--css-circle-plus);
      }

      &.back::before {
        color: coral;
        content: var(--css-arrow-back);
      }

      &.cancel::before {
        color: orange;
        content: var(--css-math-times);
      }

      &.delete::before {
        color: red;
        content: var(--css-circle-minus);
      }

      &.edit::before {
        color: cyan;
        content: var(--css-vert-ellipse);
      }

      &.notes::before {
        color: chartreuse;
        content: var(--css-notes);
      }

      &.save::before {
        color: lightgreen;
        content: var(--css-check);
      }
    }
  }
}