.table.generation>.rows.ndx>.row.record>div {
  float: left;
  width: 50%;
}

.table.generation>.singleton.generation,
.table.generation>.workspace.sources {
  border: 0;
  width: 50%;
}

.table.generation>.singleton.generation {
  float: left;
  padding-top: 2em;
}

.table.generation>.singleton.generation>label>.progeny {
  margin-left: -7em;
  padding-left: 7em;
  width: 100%;
}