:root {
  --bg-color: #060617db;
  --fg-color: aliceblie;
  /* --bg-color: #2a2d41db; */
  /* --bg-color: #02000d; */
  --depth-login: 5;
  --depth-info: 3;
  --login-background-color: #0f00255c;
}

* {
  box-sizing: border-box;
  font-variant: slashed-zero;
}

.selected {
  background-image: linear-gradient(0deg, transparent, #fff2, transparent);
}

.workspace,
.x-template {
  display: none;
  float: left;
}

.workspace.active {
  display: block;
  margin-top: 1em;
  border-top: 1px solid #5cc0ff8c;
  padding-top: 1em;
}

input,
select {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: white;
  display: inline-block;
  font-size: large;
  margin: 0;
  outline: none;
  padding: 0;
  text-overflow: ellipsis;
}

select:read-only,
input:read-only {
  appearance: none;
  cursor: default;
}

input[type="radio"] {
  appearance: auto;
}

html {
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--bg-color), var(--bg-color)), url(./images/background/image.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-blend-mode: hue;
  background-blend-mode: luminosity;
  color: aliceblue;
  font-family: system-ui;
  /* font-size: 125%; */
  /* height: 100%; */
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 80em;
}

body {
  margin-left: auto;
  margin-right: auto;
}

body>.login,
body>.menubar,
body>.main,
body>.footer {
  /* display: none; */
  float: left;
  width: 100%;
  /* background-color: #fff2; */
}

body>.menubar {
  font-size: larger;
  margin-bottom: .5em;
  margin-top: .5em;
  text-align: center;
  font-weight: bold;
  line-height: 3;
}

body>.menubar::after {
  content: 'content';
  float: right;
  /* line-height: 2; */
  /* margin-top: -1em; */
  /* display: inline-block; */
}

body>.menubar>.menubtn {
  float: left;
  width: 10%;
  cursor: pointer;
  width: 16%;
  border-radius: 1em;
}

body>.menubar>.menubtn.selected {
  background-image: linear-gradient(0deg, transparent, #fff3 50%, transparent);
  cursor: default;
}

body>.menubar>.menubtn:hover {
  font-weight: bold;
}

body>.footer {
  /* background-color: red; */
  bottom: 0;
  left: 0;
  position: fixed;
  float: left;
}

body>.footer>ul {
  float: left;
}

body>.footer>.cookie-bar {
  background-image: radial-gradient(ellipse at bottom left, var(--background-color) 70%, transparent);
  border-radius: 0 4em 0 0;
  float: left;
  width: 9em;
}

body>.footer>.cookie-bar input[type="checkbox"] {
  appearance: auto;
}

body>.footer>.cookie-bar>.list::before {
  content: 'Hide';
  font-weight: bolder;
  line-height: 2em;
  width: 100%;
}

body>.footer>.cookie-bar>.list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body>.footer>.cookie-bar>.list>li>input {
  clear: left;
  float: left;
  margin-bottom: .5em;
}

body>.footer>.cookie-bar>.list>li>label {
  clear: right;
  cursor: pointer;
  /* display: inline-block; */
  /* float: left; */
  /* width: 8em; */
  /* display: block; */
}

body>.footer>.powered-by {
  background-image: radial-gradient(ellipse at bottom right, var(--background-color) 70%, transparent);
  border-radius: 4em 0 0;
  bottom: 0;
  margin-right: 1em;
  position: relative;
  float: right;
  z-index: var(--depth-login);
}

body>.footer>.powered-by>div {
  display: inline-block;
}

body>.footer>.powered-by>ul {
  vertical-align: middle;
}

body>.footer>.powered-by>ul::before {
  content: 'Powered by:';
  float: left;
  font-style: italic;
  line-height: 4.5em;
  margin-left: -7em;
}

body>.main.footer>.powered-by:hover>ul .long-text {
  display: block;
}

body>.footer>.powered-by>ul .long-text,
body>.main.footer>.powered-by:hover>ul .short-text {
  display: none;
}

.rows.ndx {
  float: left;
  z-index: 1;
  /* position: fixed; */
  /* display: none; */
}