:root {
  --bg-color: #060617db;
  --fg-color: aliceblie;
  /* --bg-color: #2a2d41db; */
  --depth-login: 5;
  --depth-info: 3;
  --login-background-color: #0f00255c;
}

* {
  box-sizing: border-box;
  font-variant: slashed-zero;
  font-family: system-ui;
}

.selected {
  background-image: linear-gradient(0deg, transparent, #fff2, transparent);
}

.workspace,
.x-template {
  display: none;
  float: left;
}

.workspace.active {
  display: block;
  /* margin-top: 2em; */
  /* position: relative; */
  /* height: 100%; */
}

.workspace>.table {
  border-color: #faf0ff4f;
  border-style: solid;
  border-width: 0;
  /* border-bottom-width: 1px; */
  border-left-width: 1px;
  border-top-width: 1px;
  border-radius: 1em;
  float: left;
  position: relative;
}

.table.substrate {}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0, transparent, #bbb3, transparent);
  border-radius: 10px;
}

input,
select {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: white;
  display: inline-block;
  /* font-family: system-ui; */
  font-size: large;
  /* margin: 0; */
  outline: none;
  text-overflow: ellipsis;
}

select>option {
  background-color: var(--bg-color);
}

input[type="radio"] {
  appearance: auto;
}

html {
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--bg-color), var(--bg-color)), url(./images/background/image.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-blend-mode: hue;
  background-blend-mode: luminosity;
  color: aliceblue;
  /* font-size: 125%; */
  /* height: 100%; */
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 80em;
}

body {
  margin-left: auto;
  margin-right: auto;

  &>.login,
  &>.menubar,
  &>.main,
  &>.footer {
    float: left;
    width: 100%;
  }

  &>.menubar {
    font-size: larger;
    margin-bottom: 7em;
    /* margin-top: .5em; */
    text-align: left;
    font-weight: bold;
    line-height: 3;
    width: 15%;
    position: fixed;

    &>.menubtn {
      cursor: pointer;
      border-radius: 1em;
      margin-right: 2em;
      padding-left: 1em;
      text-align: right;
    }

    &>.menubtn:hover {
      background-image: linear-gradient(0deg, transparent, #fff2 50%, transparent);
      font-weight: bold;
    }

    &>.menubtn.selected {
      background-image: linear-gradient(0deg, transparent, #fff3 50%, transparent);
      cursor: default;
    }
  }

  &>.main {
    width: 80%;
    margin-bottom: 7em;
    /* margin-top: 2em; */
    /* margin-left: 24%; */
    float: right;
    max-height: 50em;
  }
}

body>.footer {
  /* background-color: red; */
  bottom: 0;
  left: 0;
  position: fixed;
  float: left;

  &>ul {
    float: left;
  }

  &>.cookie-bar {
    background-image: radial-gradient(ellipse at bottom left, var(--background-color) 70%, transparent);
    border-radius: 0 4em 0 0;
    float: left;
    width: 11em;
    
    

    & input[type="checkbox"] {
      appearance: auto;
    }

    &>.list::before {
      content: 'Hide';
      font-weight: bolder;
      line-height: 2em;
      width: 100%;
    }

    &>.list {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;

      &>li {
        &>input {
          clear: left;
          float: left;
          margin-bottom: .5em;
        }

        &>label {
          clear: right;
          cursor: pointer;
          /* display: inline-block; */
          /* float: left; */
          /* width: 8em; */
          /* display: block; */
        }
      }
    }
  }

  &>.powered-by {
    background-image: radial-gradient(ellipse at bottom right, var(--background-color) 70%, transparent);
    border-radius: 4em 0 0;
    bottom: 0;
    margin-right: 1em;
    position: relative;
    float: right;
    z-index: var(--depth-login);

    &>div {
      display: inline-block;
    }

    &>ul {
      vertical-align: middle;

      & .long-text {
        display: none;
      }
    }

    &>ul::before {
      content: 'Powered by:';
      float: left;
      font-style: italic;
      line-height: 4.5em;
      margin-left: -7em;
    }
  }

  &>.powered-by:hover>ul {
    & .long-text {
      display: block;
    }

    & .short-text {
      display: none;
    }
  }
}