:root {
  --photo-row-height: 4.5em;
}

.workspace>.table.photoing>.workspace.photo {
  display: block;
}

.workspace.photo>.table.photo {
  background-image: radial-gradient(ellipse at bottom right, #bebc1f22 25%, transparent);
  width: 100%;

  &>.rows {
    margin-bottom: 1em;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: auto;

    &>.row.record {
      &>.buttonbar {
        text-align: center;
        width: 3em;
      }

      &>.imaging {
        float: left;

        &.format {
          &::before {
            content: 'Change format:';
          }

          &>select {
            text-align: center;
          }
        }

        &.scale {
          &::before {
            content: 'Scale image:'
          }

          &::after {
            content: '%'
          }

          &>input {
            text-align: right;
          }
        }
      }

      &>.field {
        &>[x-formatter="short-date"] {
          &::before {
            display: block;
            float: left;
            margin-left: 1em;
            width: 4.5em;
          }

          &.mtime::before {
            content: 'Modified: ';
          }

          &.ctime::before {
            content: 'Created: ';
          }
        }
      }

      &>.imaging {
        cursor: pointer;
        display: none;
        margin-left: 1em;

        &>.button.camera {
          cursor: pointer;
          float: left;
          font-size: large;

          &::after {
            background-image: radial-gradient(circle, #ffff00ab, transparent 55%);
            border-radius: 1em;
            color: honeydew;
            content: var(--css-camera);
            display: inline-block;
            font-size: 200%;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
            width: 1.25em;
          }
        }
      }
    }
  }

  &>.buttonbar>.add::before {
    margin-right: .33em;
  }

  &.gallery {
    &>.rows {
      &>.row.record {
        cursor: pointer;
        width: auto;

        &>:not(.imgtile) {
          display: none;
        }
      }
    }
  }

  &.detail {
    &>.rows>.row.record {
      &:not(.selected) {
        display: none;
      }

      &.selected {
        background: none;
      }

      &>.imgtile {
        z-index: initial;

        &>.image {
          height: auto;
          width: 350px;
        }
      }

      &.editing {
        &>:not(.rowbar) {
          display: none;
        }

        &>.imaging {
          display: block;
        }
      }
    }

    &>.buttonbar {
      visibility: hidden;
    }
  }

  &.editing>.rows>.selected>.buttonbar>.notes {
    display: none;
  }
}