.report>.entity {
  width: 99%;
}

.report>.entity>.entity-name {
  padding-bottom: 1em;
}

.report>.entity>.list {
  font-family: monospace;
  height: 60em;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.report .entity {
  clear: left;
  float: left;
  line-height: 1.5;
  padding-left: 1em;
}

.report>.entity>.ndx {
  border-radius: 15px;
  border-style: none;
  float: left;
  display: none;
  width: 100%;
}

.report .entity>.entity-name,
.report .entity>.cliff-notes {
  cursor: pointer;
  float: left;
}

.report .entity>.entity-name {
  width: 6.6em;
}

.report>.entity>.cliff-notes {
  display: block !important;
}

.report .entity>.cliff-notes {
  color: #f0f8ff88;
  float: left;
  margin-left: .3em;
  width: fit-content;
}

.report .entity>.cliff-notes>div {
  float: left;
}

.report .entity>.cliff-notes>div::before {
  content: '\2022';
  padding-left: .3em;
  padding-right: .3em;
}

.report .entity>.cliff-notes>div:first-child::before {
  content: '';
  padding: 0;
}

.report .entity.collapsed>.cliff-notes {
  color: aliceblue;
}

.report .entity.collapsed>.ndx {
  display: block;
}

.report .entity.collapsed>.list {
  display: none;
}

.report .entity>.entity-name::before {
  content: var(--css-list-collapse);
  display: block;
  float: left;
  margin-left: -1.2em;
  text-align: center;
  width: 1em;
}

.report .entity.collapsed>.entity-name::before {
  content: var(--css-list-expand);
}

.report .entity>div.list>.scalar>.label::after,
.report .entity.collapsed>.entity-name::after {
  content: ':';
}

.report .entity>div.list>.scalar>.label {
  clear: left;
  float: left;
  margin-right: .5em;
  width: 7.5em;
}

.report .entity>.entity-name::first-letter,
.report .entity>div.list>.scalar>.label::first-letter {
  text-transform: uppercase;
}

.report .entity>div.list>.scalar>.value {
  float: left;
  max-width: 80%;
}

.entity>.ndx>.row {
  float: left;
  width: 100%;
}

.entity>.ndx>.row>div {
  float: left;
  margin-right: 1em;
}

/* some customizations */
.report .entity[name="source"]>.cliff-notes>div:nth-child(2)::before {
  content: '\2190';
}

.report>.entity[name="strain"]>.ndx>.row>.name {
  width: 10em;
}

.report>.entity[name="strain"]>.ndx>.row>.species {
  width: 12em;
}

/* conflicts with div.notes/div.photos in note.css/photos.css respectively */
.report .entity.notes,
.report .entity.photos {
  display: block;
}