.workspace.sources>.table.sources {
  float: right;
}

.workspace.sources>.table.sources>.rows>.row.selected {
  background-image: radial-gradient(ellipse at top right, #fff3 00%, #fff1 20%, #0000 50%);
}

.workspace.sources>.table.sources>.rows>.row.origin-filter>label {
  display: flex;
  align-items: flex-start;
}

.workspace.sources>.table.sources>.rows>.row.record>.field {
  align-items: baseline;
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  float: none;
}


.workspace.sources>.table.sources>.rows>.row>.field.origin {
  width: 20%;
  clear: none;
  float: left;
  /* background-color: blue; */
}

.workspace.sources>.table.sources>.rows>.row>.field.origin>span {
  margin-left: 1em;
  margin-right: 4em;
}

.workspace.sources>.table.sources>.rows>.row>.field>input {
  appearance: auto;
  /* margin-right: 0.5em; */
  width: auto;
  left: 0;
}

.workspace.sources>.table.sources>.rows[source-type="clone"]>div:nth-child(4),
.workspace.sources>.table.sources>.rows>div:nth-child(5) {
  display: none;
}

.workspace.sources>.table.sources>.rows>.row>.field>span {
  width: 8em;
}

.workspace.sources>.table.sources>.rows>.row.record>.field>select {
  padding-right: 3em;
}

.workspace.sources>.table.sources>.rows>.row[origin="event"]>.field.strain,
.workspace.sources>.table.sources>.rows>.row[origin="strain"]>.field.lifecycle,
.workspace.sources>.table.sources>.rows>.row[origin="strain"]>.field.event {
  display: none;
}

.rowbar {
  z-index: 1;
  position: absolute;
  margin-right: .5em;
  line-height: 1.5;
  clear: none;
  right: 0;
  top: .5em;
}