.workspace.sources>.table.sources {
  float: right;
  height: 13em;

  &>.rows {
    &>.row.record {
      height: 5em;

      &.editing {

        &>.select,
        &>.input {
          appearance: auto;
        }

        &>.rowbar>.action::before {
          content: 'save';
        }
      }

      &.selected {
        background-image: radial-gradient(ellipse at top right, #fff3 00%, #fff1 20%, #0000 50%);
      }

      &>.field {
        align-items: baseline;
        clear: both;
        display: flex;
        flex-wrap: nowrap;
        float: none;

        &>span {
          width: 8em;
        }

        &>select {
          margin-right: 4em;
        }

        &>input {
          appearance: auto;
          width: auto;
          left: 0;
        }

        &.origin {
          width: 20%;
          clear: none;
          float: left;

          &>span {
            margin-left: 1em;
            margin-right: 4em;
          }
        }

        &:not(.origin) {
          width: 80%;
          clear: right;
        }
      }

      &>.rowbar {
        z-index: 1;
        position: absolute;
        margin-right: .5em;
        line-height: 1.5;
        clear: none;
        right: 0;
        top: .5em;

        &>.edit::before {
          content: 'edit';
        }

        &>.cancel::before {
          content: 'cancel';
        }

        &>.action::before {
          content: 'delete';
        }
      }
    }

    &>.row.origin-filter {
      &>label {
        display: flex;

        &::before {
          content: 'Type: ';
        }

        &>select {
          margin-left: .5em;
        }
      }

      &>.full {
        text-align: center;
      }
    }

    &.empty>.row.origin-filter>label {
      z-index: initial;

      &>select {
        appearance: auto;
      }
    }

    &>.row.record[origin="event"]>.field.strain,
    &>.row.record[origin="strain"]>.field:is(.lifecycle, .event) {
      display: none;
    }

    &>.buttonbar {
      width: 100%;

      >.button {
        width: 2em;
        border-radius: 1em;
        float: right;
        text-align: center;
        background-image: radial-gradient(#0f08, transparent 100%);
        margin-right: 6em;
      }

      >.button::after {
        margin-right: .5em;
        text-align: left;
        width: 4em;
        display: inline-block;
        position: fixed;
        padding-left: 1.5em;
      }

      &>.add::after {
        content: 'add';
      }

      &>.cancel::after {
        content: 'cancel'
      }

      &>.save::after {
        content: 'save';
      }
    }
  }

  &.editing:not(.adding)>.rows>.buttonbar,
  &>.rows[source-type="clone"]>.buttonbar:nth-child(4),
  &>.rows>.buttonbar:nth-child(5) {
    display: none;
  }

  &.editing:not(.adding)>.rows {
    &>.origin-filter>.full::before {
      content: '(editing)';
    }
  }

  &.adding>.rows>.origin-filter>.full::before {
    content: '(adding)';
  }
}