:root {
  --ingredients-width: 31%;
  --substrates-width: 68%;
  /* --name-color: red; */
  /* --type-color: blue; */
  /* --vendor-color: green; */
}

.workspace.substrate {

  &>.table.substrate[type-filter="liquid"] .row:not(.liquid),
  &>.table.substrate[type-filter="grain"] .row:not(.grain),
  &>.table.substrate[type-filter="bulk"] .row:not(.bulk),
  &>.table.substrate[type-filter="plating"] .row:not(.plating) {
    display: none;
  }
}

.workspace.substrate>.table.substrate {
  & :is(.columns, .rows>.row) {
    &>.name {
      background-color: var(--name-color);
    }

    &>.type {
      background-color: var(--type-color);
    }

    &>.vendor {
      background-color: var(--vendor-color);
    }
  }

  &>.columns {
    &>.name {
      width: calc(var(--substrates-width) * .3955);
    }

    &>.type {
      width: calc(var(--substrates-width) * .247);

      &>label>select {
        text-align: center;
        margin-left: .5em;
      }
    }

    &>.vendor {
      width: calc(var(--substrates-width) * .347);
    }

    &>.ingredient {
      width: var(--ingredients-width);
    }
  }

  &>.rows,
  &>.workspace.ingredients {
    float: left;
    height: 20em;
  }

  &>.rows {
    margin-right: 1%;
    width: var(--substrates-width);

    &>.row.record {

      &>.name {
        width: 40%;
      }

      &>.type {
        width: 25%;
      }

      &>.vendor {
        width: 35%;
      }
    }
  }

  &>.workspace.ingredients {
    border: 0;
    margin-top: 0;
    padding-top: 0;
    width: var(--ingredients-width);

    &>.table.ingredient {
      /* background-color: #f001; */
      height: 100%;
      width: 100%;

      &>.columns {
        display: none;

        &>.name {
          width: 100%;
        }
      }

      &>.rows {
        height: 100%;
        width: 100%;
        /* width: calc(100% - 3em); */
        margin-right: -3em;
        padding-right: 3em;

        &>.row.record {
          display: none;

          &>.name {
            width: 100%;
          }
        }

        &>.row.record.selected {
          display: revert;
        }
      }

      &>.buttonbar {
        float: right;
        font-weight: bolder;
        margin-right: .5em;
        padding-top: 1em;
        text-align: center;
        width: 2em;

        &>.button.default {
          display: none;
        }

        &>.button {
          border-radius: 1em;
          cursor: pointer;
        }

        &>.expand {
          background-image: radial-gradient(circle at center, #00ff00bb, transparent);
        }

        &>.collapse {
          background-image: radial-gradient(circle at center, #f00b, transparent);
          display: none;
          font-family: sans-serif;
        }
      }
    }

    &>.table.selecting>.rows>.row.record {
      display: revert;
    }

    &>.table.ingredient:not(.selecting) .row.record.selected {
      background-image: none;
    }

    &>.table.ingredient.selecting>.buttonbar {
      &>.collapse {
        display: block;
      }

      &>.expand {
        display: none;
      }
    }
  }
}