/* .singleton.editing>.field,
.row.editing>.field {
  z-index: initial;
} */

.table {

  & .field {
    display: inline-block;
    z-index: -1;
    position: relative;
  }

  & .field>input,
  & .field>select {
    float: left;
    line-height: inherit;
    /* margin: 0; */
    position: relative;
    width: 100%;
  }

  &>* {
    float: left;
    line-height: 2;
    width: 100%;
  }

  &>.columns {
    text-align: center;
    line-height: 3;

    &>.column {
      float: left;
      text-decoration: underline;
    }
  }

  &>.rows {
    overflow-y: auto;
    overflow-x: hidden;

    &>.row {
      border-radius: 1em;
      /* line-height: 1.5; */
      float: left;
      width: 100%;
      position: relative;
      padding-left: .5em;

      &.ndx {
        float: left;
        overflow-x: clip;
        overflow-y: auto;
      }


      &.editing {
        &>.field {
          z-index: initial;
        }

        & input,
        & select {
          appearance: auto;
          padding-right: 1em;
        }
      }

      &>.static,
      &>.field {
        cursor: default;
        float: left;
      }
    }
  }

  &>.singleton {
    &>.field {
      clear: both;
      display: flex;
      flex-wrap: nowrap;
      text-align: left;
      width: 100%;

      &>div.label {
        display: inline-block;
        width: 9em;
        padding-left: 1em;
      }

      &>div:is(.dry-weight, .per-kilo, .short-date),
      &>select,
      &>input {
        display: inline-block;
        width: auto;
      }

      &>.substrate>option {
        display: none;
      }

      &>.bulk.substrate>option[type="bulk"],
      &>.grain.substrate>option[type="grain"],
      &>.liquid.substrate>option[type="liquid"],
      &>.plating.substrate>option[type="plating"] {
        display: revert;
      }
    }

    &.editing {
      &>.field {
        z-index: initial;
      }

      & input,
      & select {
        appearance: auto;
        padding-right: 1em;
      }

      & select>option {
        background-color: var(--bg-color);
      }
    }
  }
}