label.field {
  display: inline-block;
}

.field>input,
.field>select {
  float: left;
  font-family: system-ui;
  line-height: inherit;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: -1;
}

.editing .field>input,
.editing .field>select {
  z-index: initial;
}

.table>* {
  float: left;
  line-height: 2;
  width: 100%;
}

.table>.columns {
  text-align: center;
}

.table>.columns>.column {
  float: left;
}

.table>.rows>.row {
  border-radius: 1em;
  /* line-height: 1.5; */
  float: left;
  width: 100%;
  position: relative;
}

.table>.rows>.row>.static,
.table>.rows>.row>.field {
  cursor: default;
  float: left;
  padding-left: .5em;
}

.singleton>.field {
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  width: 100%;
}

.singleton>.field>span {
  display: inline-block;
  float: none;
  width: 7em;
}

.singleton>.field>div,
.singleton>.field>select,
.singleton>.field>input {
  display: inline-block;
  /* float: left; */
  width: auto;
}